<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <mat-card *ngFor="let hit of hits" class="recipe-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="recipe-title">{{hit.recipe.label}}</mat-card-title>
        <img mat-card-md-image [src]="hit.recipe.image" [alt]="hit.recipe.label">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="recipe-details">
        <span><b>{{hit.recipe.calories | number: '1.0-0' }}</b> Calories </span>
        <span><b>{{hit.recipe.ingredients.length}}</b> ingredients</span>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <button mat-flat-button color="warn">hi</button>
      <button mat-flat-button color="primary">hi</button>
      <button mat-flat-button color="accent">hi</button>
      <button mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>
</div>